In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data_combined.csv', dtype='unicode')

In [3]:
df.head()

,code,requestId,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,...,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,discountData,colours,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,styleVideoAlbumList
0,NaN,NaN,10000,649,324,DEL,304,132197135028 1303,NaN,Palm Tree Girls Sp Jace Sko White Skirts,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 74, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39001, 'name': 'Size', 'value': '2YRS'...","{'discountType': 1, 'discountAmount': 325, 'di...",NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10001,549,274,DEL,304,132215584945 6300,NaN,Palm Tree Kids Girls Sp Jema Skt Blue Skirts,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 74, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39005, 'name': 'Size', 'value': '2YRS'...","{'discountType': 1, 'discountAmount': 275, 'di...",NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,10002,549,274,DEL,304,132215584945 8300,NaN,Palm Tree Kids Sp Jema Skt Blue Skirts,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 74, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39009, 'name': 'Size', 'value': '2YRS'...","{'discountType': 1, 'discountAmount': 275, 'di...",NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10003,2695,2695,P,289,376668-100,NaN,Nike Women As Nike Eleme White T-Shirt,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39010, 'name': 'Size', 'value': 'S', '...",NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,10004,1995,1995,P,303,393799-064,NaN,Nike Men As 7 Sw Temp Grey Shorts,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 72, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39014, 'name': 'Size', 'value': 'S', '...",NaN,{'colors': {'22589': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN

In [4]:
df.shape

(44446, 49)

In [5]:
import random
a=random.randint(1,5)

In [6]:
ratings_list=[]
for i in range(44446):
    ratings_list.append(random.randint(1,5))

In [7]:
ratings_list

[2,
 2,
 2,
 2,
 2,
 5,
 5,
 4,
 5,
 3,
 4,
 1,
 3,
 4,
 1,
 1,
 2,
 4,
 5,
 4,
 1,
 4,
 5,
 1,
 4,
 2,
 1,
 3,
 2,
 3,
 1,
 4,
 1,
 3,
 5,
 1,
 5,
 5,
 2,
 1,
 2,
 1,
 1,
 5,
 1,
 1,
 4,
 3,
 3,
 1,
 3,
 2,
 1,
 3,
 5,
 3,
 2,
 3,
 3,
 1,
 3,
 1,
 2,
 1,
 3,
 5,
 2,
 3,
 1,
 4,
 5,
 1,
 3,
 4,
 4,
 3,
 1,
 1,
 5,
 1,
 3,
 3,
 4,
 1,
 3,
 3,
 4,
 3,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 5,
 3,
 3,
 2,
 4,
 1,
 2,
 4,
 4,
 3,
 2,
 4,
 2,
 3,
 3,
 5,
 3,
 2,
 4,
 5,
 1,
 4,
 4,
 2,
 1,
 1,
 2,
 2,
 3,
 4,
 4,
 3,
 1,
 5,
 3,
 3,
 4,
 2,
 1,
 1,
 1,
 4,
 1,
 3,
 3,
 1,
 5,
 5,
 3,
 5,
 4,
 4,
 3,
 1,
 5,
 5,
 4,
 4,
 4,
 4,
 1,
 5,
 4,
 2,
 5,
 5,
 1,
 2,
 2,
 5,
 2,
 3,
 1,
 5,
 3,
 3,
 4,
 1,
 4,
 4,
 5,
 5,
 4,
 2,
 5,
 1,
 2,
 4,
 2,
 4,
 4,
 2,
 4,
 4,
 4,
 1,
 2,
 2,
 3,
 4,
 4,
 1,
 1,
 3,
 5,
 1,
 5,
 2,
 4,
 2,
 3,
 4,
 3,
 5,
 2,
 4,
 2,
 1,
 4,
 5,
 1,
 4,
 5,
 2,
 2,
 5,
 2,
 1,
 4,
 5,
 5,
 3,
 4,
 5,
 2,
 1,
 4,
 4,
 5,
 1,
 5,
 3,
 3,
 2,
 2,
 5,
 3,
 1,
 1,
 1,
 2,
 5,
 1,
 5,
 3,
 3,
 4,
 2,
 3,
 5,
 2,
 4,
 2,
 1,
 4,
 2,
 2,
 3,
 2,
 4,
 3,
 5,
 5,
 3,
 5,
 1,
 5,
 3,
 4,
 1,
 5,
 1,
 1,
 5,
 2,
 2,
 2,
 2,
 3,
 2,
 5,
 4,
 3,
 5,
 1,
 5,
 3,
 3,
 1,
 4,
 2,
 4,
 1,
 4,
 3,
 4,
 3,
 5,
 1,
 1,
 2,
 5,
 5,
 2,
 5,
 1,
 3,
 4,
 4,
 2,
 5,
 4,
 3,
 2,
 2,
 3,
 1,
 1,
 3,
 1,
 3,
 2,
 3,
 5,
 4,
 2,
 1,
 3,
 1,
 2,
 2,
 4,
 3,
 5,
 2,
 3,
 4,
 3,
 2,
 5,
 3,
 4,
 4,
 3,
 1,
 5,
 2,
 5,
 3,
 2,
 4,
 3,
 2,
 1,
 2,
 4,
 2,
 2,
 2,
 3,
 2,
 3,
 4,
 2,
 3,
 1,
 4,
 3,
 2,
 5,
 5,
 4,
 3,
 3,
 1,
 2,
 4,
 3,
 1,
 4,
 1,
 1,
 4,
 3,
 5,
 1,
 3,
 3,
 3,
 2,
 2,
 4,
 3,
 3,
 4,
 1,
 4,
 4,
 3,
 5,
 1,
 3,
 3,
 5,
 4,
 2,
 4,
 1,
 5,
 3,
 1,
 2,
 3,
 3,
 4,
 3,
 1,
 1,
 1,
 4,
 5,
 5,
 3,
 4,
 4,
 3,
 1,
 4,
 4,
 2,
 1,
 1,
 5,
 3,
 4,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 4,
 1,
 4,
 3,
 3,
 5,
 3,
 3,
 4,
 3,
 5,
 2,
 1,
 1,
 1,
 2,
 5,
 3,
 3,
 4,
 5,
 1,
 1,
 3,
 5,
 1,
 5,
 4,
 4,
 5,
 1,
 2,
 5,
 2,
 3,
 2,
 5,
 5,
 5,
 5,
 2,
 2,
 2,
 2,
 4,
 1,
 5,
 3,
 4,
 3,
 1,
 1,
 3,
 2,
 4,
 3,
 4,
 4,
 4,
 4,
 1,
 4,
 2,
 3,
 5,
 1,
 4,
 3,
 1,
 5,
 3,
 1,
 3,
 2,
 5,
 4,
 1,
 3,
 3,
 3,
 4,
 4,
 1,
 5,
 1,
 1,
 1,
 1,
 4,
 4,
 1,
 4,
 4,
 3,
 2,
 5,
 3,
 2,
 5,
 2,
 4,
 1,
 3,
 4,
 3,
 2,
 1,
 5,
 1,
 4,
 2,
 2,
 2,
 3,
 5,
 4,
 4,
 1,
 1,
 5,
 2,
 4,
 2,
 3,
 3,
 5,
 4,
 4,
 2,
 3,
 2,
 4,
 1,
 4,
 4,
 4,
 5,
 4,
 1,
 2,
 3,
 1,
 2,
 5,
 1,
 2,
 2,
 3,
 4,
 4,
 3,
 5,
 1,
 1,
 5,
 3,
 3,
 2,
 2,
 5,
 3,
 5,
 3,
 2,
 4,
 2,
 4,
 3,
 2,
 2,
 1,
 4,
 1,
 1,
 4,
 1,
 5,
 5,
 3,
 2,
 5,
 1,
 2,
 2,
 3,
 3,
 4,
 2,
 4,
 3,
 4,
 4,
 3,
 1,
 5,
 1,
 2,
 5,
 5,
 3,
 1,
 3,
 3,
 2,
 3,
 3,
 5,
 4,
 5,
 2,
 3,
 3,
 3,
 3,
 2,
 2,
 5,
 3,
 1,
 2,
 3,
 5,
 1,
 2,
 2,
 3,
 4,
 1,
 3,
 2,
 1,
 5,
 4,
 5,
 1,
 3,
 1,
 3,
 2,
 2,
 3,
 5,
 4,
 3,
 1,
 1,
 5,
 5,
 3,
 1,
 3,
 1,
 5,
 1,
 4,
 2,
 5,
 2,
 3,
 2,
 1,
 2,
 3,
 1,
 5,
 5,
 3,
 2,
 1,
 5,
 2,
 5,
 5,
 3,
 3,
 1,
 2,
 1,
 4,
 3,
 5,
 5,
 3,
 4,
 3,
 4,
 2,
 3,
 5,
 4,
 4,
 1,
 2,
 5,
 1,
 1,
 1,
 4,
 2,
 4,
 4,
 3,
 1,
 4,
 3,
 5,
 5,
 2,
 1,
 3,
 3,
 3,
 4,
 1,
 4,
 2,
 5,
 1,
 5,
 2,
 2,
 1,
 5,
 4,
 2,
 1,
 3,
 5,
 1,
 2,
 2,
 2,
 4,
 3,
 3,
 2,
 2,
 5,
 1,
 2,
 2,
 4,
 4,
 4,
 4,
 5,
 4,
 5,
 5,
 4,
 4,
 1,
 4,
 4,
 3,
 4,
 3,
 1,
 1,
 3,
 2,
 1,
 4,
 1,
 4,
 4,
 3,
 5,
 2,
 4,
 5,
 1,
 4,
 4,
 1,
 2,
 1,
 1,
 1,
 2,
 3,
 4,
 5,
 1,
 3,
 2,
 1,
 5,
 3,
 2,
 4,
 3,
 5,
 5,
 5,
 1,
 4,
 5,
 3,
 1,
 2,
 3,
 2,
 5,
 5,
 4,
 4,
 1,
 2,
 1,
 5,
 1,
 4,
 1,
 3,
 4,
 3,
 3,
 3,
 5,
 3,
 1,
 3,
 1,
 3,
 1,
 5,
 5,
 3,
 3,
 4,
 2,
 4,
 3,
 1,
 3,
 3,
 5,
 5,
 3,
 2,
 1,
 3,
 3,
 4,
 3,
 4,
 5,
 3,
 2,
 3,
 4,
 2,
 4,
 1,
 4,
 2,
 3,
 2,
 4,
 4,
 1,
 5,
 4,
 1,
 3,
 4,
 1,
 5,
 1,
 1,
 1,
 3,
 5,
 5,
 1,
 2,
 4,
 2,
 5,
 4,
 3,
 5,
 5,
 1,
 2,
 3,
 1,
 4,
 1,
 3,
 4,
 4,
 2,
 5,
 2,
 4,
 1,
 5,
 4,
 2,
 2,
 4,
 3,
 5,
 5,
 1,
 5,
 4,
 2,
 1,
 4,
 3,
 3,
 1,
 1,
 3,
 3,
 4,
 5,
 3,
 4,
 5,
 2,
 3,
 1,
 1,
 3,
 5,
 1,
 2,
 2,
 4,
 2,
 2,
 5,
 4,
 3,
 5,
 5,
 4,
 4,
 1,
 3,
 4,
 5,
 2,
 3,
 5,
 5,
 3,
 ...]

In [8]:
reviews_number=[]
for i in range(44446):
    reviews_number.append(random.randint(1,5000))
reviews_number

[4955,
 2929,
 1124,
 3948,
 302,
 4494,
 1607,
 3107,
 835,
 241,
 4573,
 2126,
 1219,
 4052,
 113,
 1135,
 3769,
 697,
 709,
 3264,
 2255,
 2580,
 4282,
 2616,
 4557,
 623,
 2726,
 1596,
 2840,
 2926,
 370,
 2528,
 4379,
 4582,
 1307,
 716,
 586,
 2814,
 2757,
 4202,
 2922,
 1132,
 2683,
 4302,
 177,
 2044,
 1488,
 1592,
 371,
 1383,
 3099,
 3683,
 771,
 1527,
 498,
 1026,
 1374,
 3074,
 2768,
 787,
 3024,
 1043,
 1273,
 2526,
 205,
 1610,
 2823,
 1165,
 2463,
 1503,
 2437,
 4978,
 1162,
 4282,
 655,
 3745,
 3148,
 4509,
 1459,
 427,
 161,
 2467,
 566,
 2640,
 2672,
 3890,
 1845,
 2573,
 2434,
 4784,
 4191,
 3960,
 1144,
 2409,
 3258,
 1323,
 4638,
 809,
 3064,
 1594,
 2121,
 2024,
 3418,
 3792,
 1400,
 1717,
 2319,
 1747,
 993,
 2935,
 561,
 760,
 3878,
 854,
 2366,
 3410,
 3921,
 239,
 3786,
 2687,
 2566,
 1988,
 2762,
 2013,
 4630,
 3242,
 3395,
 4968,
 3440,
 3970,
 2548,
 2515,
 1332,
 2184,
 2632,
 4004,
 3950,
 2360,
 1462,
 412,
 102,
 1800,
 1852,
 3114,
 3082,
 306,
 4294,
 1217,
 2058,
 2541,
 4770,
 3199,
 1350,
 740,
 4271,
 1070,
 4704,
 268,
 3384,
 118,
 902,
 802,
 107,
 1989,
 507,
 2549,
 4254,
 4819,
 49,
 4112,
 623,
 4775,
 4805,
 2774,
 4,
 3479,
 1328,
 745,
 3,
 1256,
 3595,
 1972,
 933,
 1830,
 1663,
 3656,
 3439,
 1221,
 4312,
 4194,
 1561,
 1208,
 3042,
 692,
 4035,
 1562,
 267,
 4173,
 1703,
 4084,
 3065,
 736,
 4573,
 601,
 3240,
 49,
 1533,
 696,
 1325,
 4802,
 3797,
 4726,
 3563,
 298,
 1924,
 832,
 797,
 2500,
 2114,
 251,
 1754,
 3208,
 2172,
 3110,
 691,
 1622,
 1968,
 2543,
 2549,
 1711,
 4997,
 1822,
 16,
 4153,
 543,
 1466,
 584,
 4802,
 3871,
 1991,
 4231,
 4971,
 4361,
 1389,
 4099,
 4394,
 886,
 1620,
 2885,
 2483,
 672,
 460,
 2690,
 2772,
 4578,
 2806,
 4443,
 3193,
 2502,
 4770,
 691,
 4997,
 1572,
 1168,
 513,
 1156,
 991,
 3244,
 3261,
 3858,
 3170,
 2953,
 3721,
 444,
 2183,
 2208,
 4214,
 3632,
 4144,
 3365,
 2685,
 1191,
 4159,
 2518,
 2874,
 1909,
 3048,
 2450,
 4552,
 254,
 2881,
 865,
 1813,
 1440,
 2710,
 2114,
 1880,
 1390,
 1786,
 3826,
 1846,
 903,
 2286,
 1209,
 4934,
 3694,
 415,
 2307,
 1133,
 2734,
 3566,
 1861,
 2564,
 4046,
 4822,
 4814,
 3763,
 144,
 1539,
 358,
 1500,
 4407,
 236,
 1068,
 972,
 2749,
 4734,
 2143,
 1130,
 2175,
 3283,
 502,
 3566,
 4694,
 2183,
 2160,
 4323,
 841,
 2176,
 1210,
 1203,
 343,
 27,
 3703,
 3964,
 1619,
 512,
 4592,
 4460,
 4733,
 1990,
 3615,
 1386,
 4356,
 455,
 4671,
 4941,
 4564,
 3073,
 1591,
 566,
 760,
 4472,
 4080,
 3820,
 2663,
 2524,
 4905,
 4873,
 3906,
 2204,
 3694,
 4015,
 4704,
 932,
 4987,
 1502,
 232,
 3670,
 4508,
 4759,
 4339,
 705,
 4223,
 2564,
 1033,
 1737,
 1039,
 4592,
 3642,
 563,
 1949,
 4071,
 750,
 3631,
 2126,
 2220,
 467,
 1054,
 908,
 3056,
 4477,
 997,
 4093,
 1164,
 1383,
 3702,
 4585,
 663,
 166,
 3820,
 1025,
 1109,
 1136,
 485,
 2221,
 4118,
 2679,
 1086,
 1602,
 355,
 4806,
 22,
 2856,
 193,
 1198,
 1388,
 4797,
 2887,
 4801,
 1341,
 312,
 3278,
 3344,
 1936,
 1178,
 1623,
 1154,
 3766,
 468,
 2834,
 4297,
 4345,
 2824,
 4495,
 3376,
 3826,
 3491,
 1884,
 4025,
 1933,
 1615,
 1007,
 3840,
 962,
 3897,
 1847,
 4912,
 2868,
 88,
 321,
 655,
 1398,
 1908,
 827,
 4616,
 1538,
 2146,
 4990,
 4380,
 2639,
 2414,
 1598,
 3327,
 3593,
 358,
 3209,
 1920,
 2287,
 3591,
 881,
 1870,
 165,
 834,
 1777,
 1093,
 1950,
 2657,
 432,
 4579,
 4802,
 2769,
 3738,
 710,
 3125,
 2739,
 3525,
 4132,
 1367,
 3868,
 2371,
 2167,
 3649,
 4628,
 2536,
 4378,
 4685,
 4864,
 3710,
 1547,
 2817,
 3686,
 2432,
 4159,
 4777,
 2597,
 2303,
 3540,
 854,
 4816,
 1487,
 3792,
 1180,
 3162,
 1591,
 1007,
 3809,
 1959,
 1282,
 1487,
 593,
 2370,
 1378,
 460,
 972,
 2528,
 405,
 1302,
 1056,
 3621,
 4517,
 3725,
 2186,
 1934,
 4198,
 3550,
 2494,
 3045,
 818,
 3183,
 530,
 728,
 3928,
 1021,
 572,
 846,
 2166,
 1396,
 2217,
 1568,
 894,
 3129,
 562,
 4877,
 4316,
 2152,
 175,
 1334,
 3759,
 983,
 360,
 3616,
 189,
 517,
 3513,
 3678,
 4487,
 1105,
 2266,
 1537,
 4022,
 2877,
 130,
 685,
 206,
 566,
 2010,
 2973,
 4013,
 633,
 3088,
 1534,
 615,
 2417,
 2091,
 3266,
 3445,
 2307,
 4934,
 3917,
 3199,
 4039,
 4565,
 4415,
 68,
 1329,
 1345,
 70,
 4112,
 2704,
 3844,
 358,
 732,
 3363,
 2236,
 4870,
 702,
 1989,
 2611,
 2533,
 1789,
 4036,
 1486,
 1118,
 1595,
 2056,
 3790,
 568,
 2662,
 753,
 4490,
 3559,
 3183,
 2696,
 3864,
 1857,
 2502,
 3886,
 2678,
 3051,
 1687,
 3612,
 2405,
 1529,
 1425,
 445,
 1245,
 1081,
 2165,
 1998,
 490,
 4549,
 879,
 2118,
 3764,
 1060,
 4146,
 2347,
 3529,
 3823,
 3991,
 3078,
 3774,
 245,
 2701,
 1829,
 739,
 3522,
 450,
 4590,
 2579,
 1274,
 479,
 250,
 3772,
 2468,
 3417,
 3139,
 4097,
 2565,
 767,
 4117,
 2436,
 3557,
 4493,
 2052,
 1090,
 4298,
 232,
 1686,
 4151,
 988,
 706,
 1792,
 3777,
 1377,
 1122,
 2504,
 662,
 264,
 4659,
 4312,
 2669,
 1743,
 2443,
 4822,
 1044,
 1407,
 1321,
 4902,
 3286,
 4847,
 3456,
 2117,
 2761,
 9,
 157,
 3715,
 4746,
 2492,
 3024,
 3616,
 502,
 2727,
 4240,
 4829,
 611,
 1061,
 1324,
 2281,
 1168,
 997,
 3007,
 2449,
 1186,
 4690,
 1914,
 4262,
 108,
 2416,
 3709,
 1112,
 2930,
 1920,
 3459,
 997,
 4532,
 1066,
 2432,
 3486,
 132,
 1868,
 2806,
 4307,
 4148,
 2978,
 1719,
 119,
 1744,
 1132,
 3088,
 1345,
 4344,
 4441,
 113,
 942,
 1530,
 4522,
 2364,
 533,
 3669,
 222,
 1617,
 549,
 2387,
 3993,
 1049,
 1628,
 94,
 1827,
 3919,
 4287,
 2214,
 286,
 1674,
 3386,
 2797,
 1207,
 2216,
 169,
 2335,
 3524,
 675,
 1625,
 3916,
 2669,
 4850,
 3868,
 3267,
 3526,
 27,
 536,
 743,
 16,
 4211,
 2074,
 4649,
 4444,
 1083,
 2469,
 4220,
 3892,
 2734,
 3035,
 4142,
 1623,
 3872,
 3683,
 4345,
 3735,
 1685,
 747,
 834,
 4456,
 1689,
 3988,
 3421,
 3509,
 4219,
 559,
 4000,
 4218,
 4265,
 4377,
 576,
 4963,
 642,
 794,
 2872,
 3058,
 4738,
 355,
 3952,
 42,
 907,
 1285,
 3754,
 3903,
 1189,
 2166,
 4027,
 1168,
 1054,
 2304,
 1769,
 750,
 3795,
 686,
 456,
 721,
 3179,
 1071,
 2785,
 3695,
 142,
 4045,
 3054,
 1105,
 2632,
 2495,
 1400,
 4959,
 2663,
 2731,
 3886,
 3918,
 4740,
 3712,
 4434,
 2679,
 2611,
 1802,
 3709,
 1864,
 79,
 4229,
 1291,
 584,
 2011,
 667,
 1475,
 4024,
 1861,
 1400,
 1251,
 2801,
 805,
 2058,
 658,
 916,
 3116,
 3408,
 1254,
 2273,
 3272,
 2390,
 4122,
 1594,
 3867,
 3818,
 1508,
 606,
 2156,
 2232,
 2769,
 4416,
 1852,
 139,
 989,
 937,
 1428,
 120,
 3815,
 3574,
 2193,
 461,
 3046,
 4181,
 1819,
 4068,
 4566,
 1216,
 4772,
 4038,
 393,
 3170,
 4056,
 70,
 4857,
 1787,
 2785,
 3222,
 33,
 1632,
 2455,
 1792,
 2093,
 1718,
 4066,
 1673,
 2832,
 2416,
 680,
 3644,
 1073,
 4198,
 3812,
 1159,
 1984,
 3060,
 3801,
 4713,
 1633,
 2568,
 202,
 478,
 607,
 4750,
 1179,
 2683,
 641,
 1191,
 4697,
 1005,
 2912,
 1364,
 2324,
 1205,
 4810,
 3817,
 4653,
 1710,
 4349,
 2213,
 2389,
 3658,
 3789,
 2401,
 4717,
 2884,
 2633,
 533,
 2348,
 713,
 4094,
 2408,
 3878,
 61,
 574,
 1946,
 ...]

In [9]:
ratings=pd.Series(ratings_list,name='Ratings')
ratings

0        2
1        2
2        2
3        2
4        2
        ..
44441    4
44442    3
44443    5
44444    3
44445    3
Name: Ratings, Length: 44446, dtype: int64

In [10]:
reviews=pd.Series(reviews_number,name='Reviews')
reviews

0        4955
1        2929
2        1124
3        3948
4         302
         ...
44441    3469
44442    1080
44443    1144
44444    2274
44445    4518
Name: Reviews, Length: 44446, dtype: int64

In [11]:
id=df['id']
id

0        10000
1        10001
2        10002
3        10003
4        10004
         ...
44441     9995
44442     9996
44443     9997
44444     9998
44445     9999
Name: id, Length: 44446, dtype: object

In [12]:
df=pd.concat([id,ratings,reviews],axis=1)
df['Rank']=df['Ratings']*df['Reviews']
df

          id  Ratings  Reviews   Rank
0      10000        2     4955   9910
1      10001        2     2929   5858
2      10002        2     1124   2248
3      10003        2     3948   7896
4      10004        2      302    604
...      ...      ...      ...    ...
44441   9995        4     3469  13876
44442   9996        3     1080   3240
44443   9997        5     1144   5720
44444   9998        3     2274   6822
44445   9999        3     4518  13554

[44446 rows x 4 columns]

In [13]:
popular_df=df[df['Ratings']>=4].sort_values('Rank',ascending=False)
popular_df.head(50)

          id  Ratings  Reviews   Rank
35842  53805        5     5000  25000
35249  52998        5     5000  25000
29329  45605        5     4999  24995
40942  59946        5     4999  24995
8695   19948        5     4999  24995
31508  48233        5     4998  24990
18330  31785        5     4997  24985
10371  22002        5     4997  24985
11907  23792        5     4997  24985
24970  39945        5     4996  24980
15722  28324        5     4996  24980
20975   3487        5     4995  24975
11022  22731        5     4995  24975
44191   9682        5     4994  24970
7703   18934        5     4992  24960
27932  43935        5     4991  24955
5424   16336        5     4991  24955
5944   16996        5     4989  24945
44019   9495        5     4989  24945
375    10415        5     4987  24935
26556  42198        5     4986  24930
22303  36649        5     4985  24925
41913   7027        5     4985  24925
17399  30534        5     4985  24925
11739  23592        5     4985  24925
40662  59626        5     4985  24925
18042  31278        5     4985  24925
40841   5982        5     4984  24920
7150   18376        5     4984  24920
2599   13083        5     4984  24920
29416  45708        5     4984  24920
27598  43539        5     4983  24915
36155   5431        5     4983  24915
10023  21566        5     4982  24910
2179   12612        5     4982  24910
12007   2389        5     4982  24910
43039   8326        5     4982  24910
10823  22541        5     4982  24910
26576  42216        5     4981  24905
17729  30875        5     4981  24905
3692   14433        5     4981  24905
9681   21148        5     4980  24900
33994  51417        5     4979  24895
7540   18781        5     4978  24890
1556   11878        5     4978  24890
20622  34438        5     4977  24885
10459   2210        5     4977  24885
32549  49634        5     4976  24880
19413   3314        5     4976  24880
2959   13466        5     4976  24880

In [14]:
popular_df.to_csv('popular.csv', header=True, index=False)
print('File Saved')

File Saved

In [15]:
df=pd.read_csv('popular.csv')
df.head()

      id  Ratings  Reviews   Rank
0  53805        5     5000  25000
1  52998        5     5000  25000
2  45605        5     4999  24995
3  59946        5     4999  24995
4  19948        5     4999  24995

In [16]:
def reccomend(value):
    return df[0:value].id
reccomend(50)

0     53805
1     52998
2     45605
3     59946
4     19948
5     48233
6     31785
7     22002
8     23792
9     39945
10    28324
11     3487
12    22731
13     9682
14    18934
15    43935
16    16336
17    16996
18     9495
19    10415
20    42198
21    36649
22     7027
23    30534
24    23592
25    59626
26    31278
27     5982
28    18376
29    13083
30    45708
31    43539
32     5431
33    21566
34    12612
35     2389
36     8326
37    22541
38    42216
39    30875
40    14433
41    21148
42    51417
43    18781
44    11878
45    34438
46     2210
47    49634
48     3314
49    13466
Name: id, dtype: int64

In [17]:
import pickle

In [18]:
file_name="popular_model.pkl"
pickle.dump(df,open(file_name,'wb'))
print('ModelSaved')

ModelSaved

In [19]:
popular_clf= pickle.load(open('popular_model.pkl', 'rb'))

In [20]:
def reccomend(value):
    return popular_clf[0:value].id
reccomend(50)

0     53805
1     52998
2     45605
3     59946
4     19948
5     48233
6     31785
7     22002
8     23792
9     39945
10    28324
11     3487
12    22731
13     9682
14    18934
15    43935
16    16336
17    16996
18     9495
19    10415
20    42198
21    36649
22     7027
23    30534
24    23592
25    59626
26    31278
27     5982
28    18376
29    13083
30    45708
31    43539
32     5431
33    21566
34    12612
35     2389
36     8326
37    22541
38    42216
39    30875
40    14433
41    21148
42    51417
43    18781
44    11878
45    34438
46     2210
47    49634
48     3314
49    13466
Name: id, dtype: int64